<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtyj.monitor.dao.StudentInfoDao">

    <resultMap id="studentList" type="com.rtyj.monitor.bean.Student">
        <result property="id" column="id"/>
        <result property="stuCno" column="stu_cno"/>
        <result property="stuName" column="stu_name"/>
        <result property="grade" column="grade"/>
        <result property="calss" column="calss"/>
    </resultMap>

    <insert id="saveStudent" parameterType="com.rtyj.monitor.bean.Student">
        insert into student(stu_cno,stu_name,grade,calss) values(
          #{stuCno},#{stuName},#{grade},#{calss}
        )
    </insert>

    <select id="getStudentList" resultMap="studentList">
        select * from student
    </select>


    <resultMap id="subjectList" type="com.rtyj.monitor.bean.Student">
        <result property="id" column="id"/>
        <result property="subName" column="sub_name"/>
    </resultMap>

    <insert id="saveSubject" parameterType="com.rtyj.monitor.bean.Subject">
        insert into subject(id,sub_name) values(#{subName})
    </insert>

    <select id="getSubjectList" resultMap="subjectList">
        select * from subject
    </select>

    <resultMap id="gradeList" type="com.rtyj.monitor.bean.Grade">
        <result property="id" column="id"/>
        <result property="stuId" column="stu_id"/>
        <result property="subId" column="sub_id"/>
        <result property="grade" column="grade"/>
    </resultMap>

    <insert id="saveGrade" parameterType="com.rtyj.monitor.bean.Grade">
        insert into grade(stu_id,sub_id,grade) values(#{stuId},#{subId},#{grade})
    </insert>

    <select id="getGradeLest" resultMap="gradeList">
        select * from grade
    </select>

</mapper>